@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Yellow100: #e4d124;
  --Green100: #b0d78a;
  --White100: #fff;
  --Black100: #1a1a1a;
  --Beige100: #fbf4ed;
}

p {
  font-size: 15px;
  font-weight: 200;
  line-height: 160%;
  letter-spacing: 1px;
}

h4 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}

h5 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

@font-face {
  font-family: 'LINESeedJP_A_OTF';
  src: url('/path/to/font/LINESeedJP_A_OTF_Th.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'LINESeedJP_A_OTF';
  src: url('/path/to/font/LINESeedJP_A_OTF_Rg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'LINESeedJP_A_OTF';
  src: url('/path/to/font/LINESeedJP_A_OTF_Bd.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'LINESeedJP_A_OTF';
  src: url('/path/to/font/LINESeedJP_A_OTF_Eb.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

.border-tb-black100 {
  border-top: 1px solid theme('colors.Black100');
  border-bottom: 1px solid theme('colors.Black100');
}
.border-t-black100 {
  border-top: 1px solid theme('colors.Black100');
}
.border-b-black100 {
  border-bottom: 1px solid theme('colors.Black100');
}
.border-r-black100 {
  border-right: 1px solid theme('colors.Black100');
}
.border-l-black100 {
  border-left: 1px solid theme('colors.Black100');
}

html,
body {
  font-family: 'LINESeedJP_A_OTF', sans-serif;
  font-size: 15px;
  font-weight: 400;
  background: var(--Beige100);
  color: var(--Black100);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
