@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Yellow100: #e4d124;
  --Green100: #b0d78a;
  --White100: #fff;
  --Black100: #1a1a1a;
  --Beige100: #fbf4ed;
}

.border-tb-black100 {
  border-top: 1px solid theme('colors.Black100');
  border-bottom: 1px solid theme('colors.Black100');
}
.border-t-black100 {
  border-top: 1px solid theme('colors.Black100');
}
.border-b-black100 {
  border-bottom: 1px solid theme('colors.Black100');
}
.border-r-black100 {
  border-right: 1px solid theme('colors.Black100');
}
.border-l-black100 {
  border-left: 1px solid theme('colors.Black100');
}

p {
  font-size: 15px;
  font-weight: 200;
  line-height: 160%;
  letter-spacing: 1px;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 1.2px;
}

h4 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}

h5 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

html,
body {
  font-family: 'LINESeedJP_A_OTF', sans-serif;
  font-size: 15px;
  font-weight: 400;
  background: var(--Beige100);
  color: var(--Black100);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
